<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active" id="mlbChartToggle" ng-click="toggleMLB()">
        <input type="radio">MLB Clusters</label>
    <label class="btn btn-primary" id="nbaChartToggle" ng-click="toggleNBA()">
        <input type="radio">NBA Clusters</label>
    <label class="btn btn-default" id="legendToggle" ng-click="toggleLegend()">
        <input type="checkbox">Legend</label>

    <div class="chart-container" ng-switch on="chartToggle.type">

        <div class="chart" id="mlbclusters" class='with-3d-shadow with-transitions' ng-switch-when="MLB">
            <svg id="chart_svg"></svg>
        </div>
        <div class="chart" id="nbaclusters" class='with-3d-shadow with-transitions' ng-switch-when="NBA">
            <select id="x_select" style="display:block;">
                <option value="REB">Rebounds</option>
                <option value="AST">Assists</option>
                <option value="PTS">Points</option>
            </select>
            <select id="y_select">
                <option value="PTS">Points</option>
                <option value="REB">Rebounds</option>
                <option value="AST">Assists</option>
            </select>
            <svg id="chart_svg"></svg>
        </div>
    </div>
</div>