<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active" id="mlbToggle" ng-click="toggleMLB()">
        <input type="radio">MLB Clusters</label>
    <label class="btn btn-primary" id="nbaToggle" ng-click="toggleNBA()">
        <input type="radio">NBA Clusters</label>

    <div class="chart-container" ng-switch on="chartToggle.type">

        <div class="chart" id="mlbclusters" class='with-3d-shadow with-transitions' ng-switch-when="MLB">
            <svg></svg>
        </div>
        <div class="chart" id="nbaclusters" class='with-3d-shadow with-transitions' ng-switch-when="NBA" style="display:block;">
            <select id="x_select" style="display:block;">
                <option value="fg">Field Goals</option>
                <option value="3pm">3-point Field Goals</option>
                <option value="ft">Free Throws</option>
                <option value="reb">Rebounds</option>
                <option value="ast">Assists</option>
                <option value="stl">Steals</option>
                <option value="blk">Blocks</option>
                <option value="tov">Turnovers</option>
                <option value="pts">Points</option>
            </select>
            <select id="y_select">
                <option value="stl">Steals</option>
                <option value="blk">Blocks</option>
                <option value="tov">Turnovers</option>
                <option value="pts">Points</option>
                <option value="fg">Field Goals</option>
                <option value="3pm">3-point Field Goals</option>
                <option value="ft">Free Throws</option>
                <option value="reb">Rebounds</option>
                <option value="ast">Assists</option>
            </select>
            <svg></svg>
        </div>
    </div>
</div>