<div class="jumbotron">
  <h1>Introducing an</h1>
  <p class="lead">
    <img src="images/bball-logo-sm.png"><br>
    Inferential Statistical approach to sports analytics.
  </p>
</div>

<div class="row marketing">
  <h4>Clustering</h4>
  <p>
    Analyze the historical data set and categorize players into similar types.
  </p>

  <h4>Matching</h4>
  <p>
    Analyze player of interest and match with similar players.
  </p>

  <h4>Regression</h4>
  <p>Analyze performance of similar players to generate a predictive model.</p>
</div>
